!!! 5
html(lang="de")
  head
    script(src='scripts/socket.io.js')
    meta(charset='utf8')
    title='chattr'
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
  body
    block script
    .navbar
      .navbar-inner
        a.brand(href='/home') chattr<sub>alpha</sub>
        ul.nav
          block nav
    .container
      block content